<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Test Automation Coco">
    <test name="Regression">
        <classes>
            <class name="ProductTests"/>
            <class name="HomeTests"/>
            <class name="CartTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->